################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSCN71020-A
/CSCN71020_A2 - Copy/.vs/BCSRec
